Hardware/ESP32C3_Studio_LED/History/*
Hardware/ESP32C3_Studio_LED/Project Outputs for ESP32C3_Studio_LED/*
Software/LVGL_UI/backup/*
Hardware/ESP32C3_Studio_LED/__Previews/*
Hardware/ESP32C3_Studio_LED/Project Logs for ESP32C3_Studio_LED/*